.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
  font-size: 80px;
  font-weight: bold;
  position: relative;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    color: red;
    background: blue;
  }
  to {
    color: blue;
    background: red;
  }
}