.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100vw;
}

.App span{
  font-size: 80px;
  position: relative;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {color: red;}
  to {color: blue;}
}